* {
    text-decoration: none;
}

td {
    border: solid 2px;
}

.container {
    background: #0b486b;
    background: -webkit-linear-gradient(to right, #f56217, #0b486b);
    background: linear-gradient(to right, #f56217, #0b486b);
    height: 100vh;
}

.content {
    max-width: 960px;
    max-height: 500;
    width: 100%;
    height: 50%;
    background: #ffffff;
}