/*Globals */

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    margin: 0;
}

.specific {
    margin: 0;
    border-bottom: 2px solid #080808;
}

.abilities {
    margin: 0;
}

.aInfo {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

.list {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    margin: 5px;
    padding-left: 0;
}

.others {
    margin-top: 5px;
}

.w350 {
    width: calc(100% - 300px);
}

.jobName {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-top: 20px;
}

.jobDate {
    margin-top: 5px;
}


/*Specifics*/

.header {
    background-color: #3483eb;
    padding: 0px;
    color: #ffffff;
    text-align: center;
}

.name {
    margin-top: 5px;
    display: inline-block;
    font-size: 35px;
}

.subtitle {
    font-size: 25px;
    margin-top: 0px;
}

.image {
    padding-bottom: 15px;
}

.mySelf {
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.summary {
    background-color: #cfe2a2;
    text-align: center;
    padding: 16px;
}

.jobInfo {
    font-size: 25px;
    font-weight: 500;
}

.pExperience {
    margin-top: 0px;
}

.container {
    display: flex;
    box-sizing: border-box;
}

.sideBar {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e0dbd1;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 5px solid #080808;
}

.head {
    margin-top: -9px;
}

.github {
    background: url(../assests/img/Orion_github.svg) no-repeat;
}

.linkedin {
    background: url(../assests/img/linkedin.svg) no-repeat;
}