/*Globals */

* {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}

.container {
    background-color: #e0dbd1;
}

.list {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    top: 0px;
}

.specific {
    border-bottom: 2px solid #080808;
}


/*Specifics*/

.header {
    background-color: #3483eb;
}

.summary {
    background-color: #34ebb7;
}

p {
    display: inline-block;
    width: 400px;
}

.sideBar {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e0dbd1;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 5px solid #080808;
}