/*Globals */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
}

.specific {
    border-bottom: 2px solid #080808;
}


/*Specifics*/

.header {
    background-color: #3483eb;
}

.summary {
    background-color: #34ebb7;
}

p {
    display: inline-block;
    width: 400px;
}